In [2]:
#testsimp.jl
#=
using Missings
function simp(; problem = missing, parameters = missing)
    problem[:ncellsx], parameters[:a]
end
=#

using ComputExp
using NamedTuples
using Query

In [3]:
db = ComputExpDB();

In [4]:
New!(db, Language, name = "Julia", version = "0.6.2");
db.language_versions_table

Table with 1 rows, 4 columns:
ID  Name     Version  Commit
────────────────────────────
1   "Julia"  "0.6.2"  ""

In [5]:
New!(db, Algorithm, name = "SIMP", description = "Solid Isotropic Material with Penalization");
db.algorithms_table

Table with 1 rows, 3 columns:
ID  Name    Description
────────────────────────────────────────────────────────
1   "SIMP"  "Solid Isotropic Material with Penalization"

In [6]:
db.algorithms_table

Table with 1 rows, 3 columns:
ID  Name    Description
────────────────────────────────────────────────────────
1   "SIMP"  "Solid Isotropic Material with Penalization"

In [7]:
New!(db, Implementation, algorithm = 1, language = 1, repository = "TopOpt", 
    	script = "testsimp.jl", func = :simp, parameters = (:a,), 
    	results = ("a", "b"));
db.implementations_table[1]

(ID = 1, Algorithm_ID = 1, Language_ID = 1, Repository = "TopOpt", Commit = "ebe741147c2d2d586aee7b21982aaba7a4491e16", Script = "testsimp.jl", Function = :simp)

In [8]:
db.implementation_parameters_table

Table with 1 rows, 4 columns:
ID  Implementation_ID  Parameter_symbol  Parameter_description
──────────────────────────────────────────────────────────────
1   1                  :a                ""

In [9]:
New!(db, Problem; description = "Half MBB", ncellsx = 60, ncellsy = 20);
db.problems_table

Table with 1 rows, 2 columns:
ID  Description
───────────────
1   "Half MBB"

In [10]:
db.problem_features_table

Table with 2 rows, 4 columns:
ID  Problem_ID  Feature_symbol  Feature_value
─────────────────────────────────────────────
1   1           :ncellsx        60
2   1           :ncellsy        20

In [11]:
New!(db, Experiment; directory = "TestExperiments", execute = true);
db.experiments_table

Table with 1 rows, 3 columns:
ID  Directory          Execute
──────────────────────────────
1   "TestExperiments"  true

In [12]:
New!(db, Run; experiment = 1, implementation = 1, parameters = [@NT(a = 1), @NT(a = 2)], problems = 1)
db.runs_table

Table with 2 rows, 6 columns:
ID  Experiment_ID  Problem_ID  Implementation_ID  Executing  Executed
─────────────────────────────────────────────────────────────────────
1   1              1           1                  false      false
2   1              1           1                  false      false

In [13]:
db.run_implementation_parameter_table

Table with 2 rows, 4 columns:
ID  Implementation_parameter_ID  Run_ID  Value
──────────────────────────────────────────────
1   1                            1       1
2   1                            2       2

In [14]:
@run_exps(db)

In [21]:
db.run_implementation_result_table

Table with 4 rows, 4 columns:
ID  Implementation_result_ID  Run_ID  Value
───────────────────────────────────────────
1   1                         1       60
2   2                         1       1
3   1                         2       60
4   2                         2       2